extends layout
include inc/funcs

block content
	#banner.page-header
		.row
			.col-lg-6
				h1=header
				small='&nbsp;'+strapline
		.row
			.col-xs-12.col-sm-8
				.row.list-group
					each loc in locations
						.col-xs-12.list-group-item
							h4
								a(href='/location')=loc.name
								small &nbsp;
									+outputRating(loc.rating)
								span.badge.badge-default.pull-right=loc.distance
							p.address=loc.address
							p
								each fac in loc.facilities
									span.label.label-warning=fac
									| &nbsp;
			.col-xs-12.col-sm-4
				p.lead=sidebar


